<%= render "shared/form-errors", resource: profile %>
<%= form_with model: profile, local: true, class: "profile-form" do |form| %>
<div>
  <%= form.label :first_name %>
  <%= form.text_field :first_name %>
</div>
<div>
  <%= form.label :last_name %>
  <%= form.text_field :last_name %>
</div>
<div>
  <%= form.label :address_line_1 %> 
  <%= form.text_field :address_line1 %>
</div>
<div>
  <%= form.label :address_line_2 %> 
  <%= form.text_field :address_line2 %>
</div>
<div>
  <%= form.label :suburb %> 
  <%= form.text_field :suburb %>
</div>
<div>
  <%= form.label :postcode %> 
  <%= form.text_field :postcode %>
</div>
<div>
  <%= form.label :state %> 
  <%= form.text_field :state %>
</div>
  <%= form.submit %>
<% end %>