<div class="user_card">
<h3><%= profile.user.username %></h3>
<p style="font-size:0.8em" class = "text-muted font-italic">Member since <%= profile.created_at %></p>
<p>Total listings: <%= profile.listings.length %></p>
<p>Current listings: <%= profile.listings.where(closed: false).length %></p>
<% if can? :manage, profile %>
<strong><%= profile.first_name %></strong>
<strong><%= profile.last_name %></strong><br>
<div class="user_card_button">
<%= link_to 'Edit', profile_edit_path(profile.id)%> </div>

<% end %>
</div>