<div class="user_card">
<h2><%= profile.user.username %></h2>
<p class = "text-muted font-italic">Member since <%= profile.created_at %></p>
<% if can? :manage, profile %>
<p><%= profile.first_name %></p>
<p><%= profile.last_name %></p>
<%= link_to 'Edit', profile_edit_path(profile.id)%>

<% end %>
</div>