<div class="row content mt-3">
<% if flash[:unsuccess] %>
<p><%= flash[:unsucess] %></p>
<% end %>
  <div class="col-md-4">
    <%=image_tag url_for(listing.image), alt: "#{listing.title} image", class: 'mt-2', style: 'width:100%;' %>
  </div>
  <div class="col-md-8">
    <h1><%= listing.title %></h1>
    <div>
      <strong>Product type:  </strong>
      <span><%= listing.product.name %></span>
    </div>
    <div>
      <strong>Location:  </strong>
      <span><%= "geo come in" %></span>
    </div>
    <div>
      <strong>Price:  </strong>
      <span><%= "$""%.2f" % listing.price %></span>
    </div>

    <% unless account_owner?(listing) %>
      <%= form_with model: CartItem.new, local: true, method: :post do |form| %>
        <%= form.number_field :quantity, size: "4", step: 1, value: 1, min: 1, max: 100 %>
        <%= form.hidden_field :listing_id, value: @listing.id %>
        <%= form.submit "Add to basket" %><% end %>
        <% if flash[:bought] %>
          <span><%= flash[:bought] %></span>
      <% end %>
    <% end %>

    <p><%= listing.description %></p>
    <%= link_to 'Back', listings_path, class: 'btn btn-success' %> 
     <% if can? :manage, @listing %>
      <%= link_to 'Edit', edit_listing_path(@listing), class: 'btn btn-info' %>
      <%= link_to "Delete", listing_path(@listing), method: :delete, class: "btn btn-danger", data: { confirm: "Really delete #{@listing.title}?"} %>
    <% end %>

  </div>
</div>