<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>

<h1><%= @listing.title %></h1>
<p><%= @listing.description %></p>

<%= form_with model: CartItem.new, local: true, method: :post do |form| %>
<%= form.label :quantity, "Number"%>
<%= form.number_field :quantity, size: "1", step: 1, value: 1 %>
<%= form.hidden_field :listing_id, value: @listing.id %>
<%= form.submit "Add to blasket" %><% end %>
<% if flash[:bought] %>
  <span><%= flash[:bought] %></span>
<% end %>
