<%= link_to listing, class:"text-decoration-none text-dark" do %>
<div class="card mb-3" style="max-width: 70vw;">
  <div class="row no-gutters">
    <div class="col-md-4" id="listing_img">
      <%= image_tag url_for(listing.image) , alt: "#{listing.title} image", class: "card-img img-fluid"%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= listing.title %></h5>
        <p class="card-text"><%= listing.description %></p>
        <p class="card-text"><small class="text-muted"><%= listing.created_at %></small></p>
      </div>
    </div>
  </div>
</div>
<% end %>