<div class="coverbox">
  <img src="/assets/cover_l.png" width="100%" height="auto" alt="coverpage" />
  <div class="searchbox">
    <div class="container">
      <div style="margin: 5%;>
        <p class="text-muted">Enter your address to find your neighbors' produce</p>
        <form class="form-inline">
          <input class="form-control m-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="card-deck">
  <%= link_to listings_path(filter: 1) do %>
  <div class="card" >
    <img src="assets/veggie.png" class="card-img-top" alt="..."style="width:13vw">
  </div>
  <% end %>
  <%= link_to listings_path(filter: 2) do %>
  <div class="card" >
    <img src="assets/fruits.png" class="card-img-top" alt="..."style="width:13vw">
  </div>
  <% end %>
  <%= link_to listings_path(filter: 3) do %>
  <div class="card" >
    <img src="assets/herbs.png" class="card-img-top" alt="..."style="width:13vw">
  </div>
  <% end %>
  <%= link_to listings_path(filter: 4) do %>
  <div class="card" >
    <img src="assets/eggs.png" class="card-img-top" alt="..."style="width:13vw">
  </div>
  <% end %>
  <%= link_to listings_path(filter: 5) do %>
  <div class="card" >
    <img src="assets/mushrooms.png" class="card-img-top" alt="..."style="width:13vw">
  </div>
  <% end %>
  <%= link_to listings_path(filter: 6) do %>
  <div class="card" >
    <img src="assets/honey.png" class="card-img-top" alt="..."style="width:13vw">
  </div>
  <% end %>
</div>
<div class="placeholder"></div>