<h1>Shopping basket</h1>
<% if @cart.length > 0 %>
  <% total = 0%>
  <% @cart.each do |item| %>
  <%= link_to item.title, listing_path(item.id) %>
    <%= form_with model: relationship(item), local: true, method: :put do |form| %>
      <%= form.number_field :quantity, size: "1", step: 1 %>
      <%= form.hidden_field :listing_id, value: item.id %>
      <%= form.submit "Edit" %>
    <% end %>
      <% subtotal = relationship(item).quantity * item.price %>
      <%= "$""%.2f" % subtotal%>
      <% total += subtotal %>
    <%= button_to "Delete", relationship(item), method: :delete %>
  <% end %>
  <%= "$""%.2f" % total %>
  <input type="radio" id="delivery" value=1 checked>
  <label for="male">Local Pickup</label><br>
  <input type="radio" id="delivery" value=2>
  <label for="female">Delivery</label><br>
  <%# <% hidden_field_tag 'seller', item.profile.id %>
  <%= link_to "Pay Deposit", "", id: "stripe" %>  

<% else %>
<%= "Your veggie box is currently empty, start shopping now" %>
<% end %>


<% item = @cart.first %>

<%= javascript_pack_tag "stripe" %>